.khung-chua-san-pham{
	margin-left: 190px;
	display: inline-block;
	width: 960px;
	min-width: 960px;
}
.section{
	display: inline-block;
	height:auto;
	width: auto;
	background-color: rgb(136, 208, 226);
	box-shadow: 14px 23px 12px 0px  #003e52;
	border-radius: 5px;
}
.section-head{
	margin: 0;
	font-size: 22px;
	border: 1px solid rgb(191, 191, 191);
	margin-left: 2px;
	padding-top: 8px;
	width: 960px;
	padding-bottom: 5px;
	text-indent: 30px;
	background: linear-gradient(to right,#003e52,#1895b0);
	color: white;
	border-radius: 8px;
	
}
form{
    text-align: center;
}
p{
    font-size: xx-large;
}
.inp{
    height: 25px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 4px 8px 5px 0px rgb(25, 47, 145);
    margin-bottom: 10px ;
    margin-top: 10px;
}
.bt_n{
    margin: 15px 0px 15px 0px;
    width: 70px;
    height: 30px;
    background-color: #1895b0;
    border-radius: 10px;
}
.bt_n:hover{
    background-color: blue;
    
}
.aho{
    color: blue;
    text-decoration: none;
     font-size: 18px
}
.aho:hover{
    color: red;
    
}



